.btn-file {
   position: relative;
   overflow: hidden;
}

.btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

@media print {

   #printBtn, .main-footer, #box-header {
      display: none;
   }

   .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
   }
   .col-lg-12 {
      width: 100%;
   }
   .col-lg-11 {
      width: 91.66666666666666%;
   }
   .col-lg-10 {
      width: 83.33333333333334%;
   }
   .col-lg-9 {
      width: 75%;
   }
   .col-lg-8 {
      width: 66.66666666666666%;
   }
   .col-lg-7 {
      width: 58.333333333333336%;
   }
   .col-lg-6 {
      width: 50%;
   }
   .col-lg-5 {
      width: 41.66666666666667%;
   }
   .col-lg-4 {
      width: 33.33333333333333%;
   }
   .col-lg-3 {
      width: 25%;
   }
   .col-lg-2 {
      width: 16.666666666666664%;
   }
   .col-lg-1 {
      width: 8.333333333333332%;
   }

}

tr:first-child {
   border-top: none;
}

tr:last-child {
   border-bottom: 1px solid #ccc;
}
