.btn-file {
   position: relative;
   overflow: hidden;
}

.btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

.receiptContainer {
   position: absolute;
}

.airconQty {
   position: absolute;
   top: 39rem;
   left: 10rem;
}

.airconDescription {
   position: absolute;
   top: 39rem;
   left: 28rem;
   max-width: 320px;
   width: 300px;
}

.airconPrice {
   position: absolute;
   top: 39rem;
   left: 66rem;
   max-width: 220px;
   width: 300px;
}

.airconAmount {
   position: absolute;
   top: 39rem;
   left: 76rem;
   max-width: 220px;
   width: 300px;
}

.removeFromReceipt {
   position: absolute;
   left: 85rem;
   top: 39rem;
}

.customerName {
   position: absolute;
   top: 27rem;
   left: 25rem;
}

.customerAddress {
   position: absolute;
   top: 29rem;
   left: 25rem;
}

.salesAgent {
   position: absolute;
   top: 28rem;
   left: 76rem;
}

.terms {
   position: absolute;
   left: 69rem;
   top: 30.55rem;
}

.dateNeeded {
   position: absolute;
   left: 69rem;
   top: 26rem;
}

.totalAmount {
   position: absolute;
   top: 61rem;
   left: 78rem;
}

@media print {
   #printBtn, .main-footer, #box-header, img {
      display: none;
   }

   img {
      font-size: 5px;
   }

   .totalAmount {
      position: absolute;
      top: 39rem;
      left: 53rem;
   }

   .airconQty {
      position: absolute;
      top: 24rem;
      left: 7rem;
   }

   .airconDescription {
      position: absolute;
      top: 24rem;
      left: 15rem;
   }

   .airconPrice {
      position: absolute;
      top: 24rem;
      left: 46rem;
   }

   .airconAmount {
      position: absolute;
      top: 24rem;
      left: 55rem;
   }

   .customerName {
      position: absolute;
      top: 15rem;
      left: 20rem;
   }

   .customerAddress {
      position: absolute;
      top: 17rem;
      left: 20rem;
   }

   .salesAgent {
      position: absolute;
      top: 16rem;
      left: 51rem;
   }

   .terms {
      position: absolute;
      top: 18rem;
      left: 47rem;
   }

   .dateNeeded {
      position: absolute;
      top: 14.5rem;
      left: 46.5rem;
   }

   .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
   }
   .col-lg-12 {
      width: 100%;
   }
   .col-lg-11 {
      width: 91.66666666666666%;
   }
   .col-lg-10 {
      width: 83.33333333333334%;
   }
   .col-lg-9 {
      width: 75%;
   }
   .col-lg-8 {
      width: 66.66666666666666%;
   }
   .col-lg-7 {
      width: 58.333333333333336%;
   }
   .col-lg-6 {
      width: 50%;
   }
   .col-lg-5 {
      width: 41.66666666666667%;
   }
   .col-lg-4 {
      width: 33.33333333333333%;
   }
   .col-lg-3 {
      width: 25%;
   }
   .col-lg-2 {
      width: 16.666666666666664%;
   }
   .col-lg-1 {
      width: 8.333333333333332%;
   }
}

tr:first-child {
   border-top: none;
}

tr:last-child {
   border-bottom: 1px solid #ccc;
}
